


.nav-right img{
    width: 40px;
}
.hero{
    background-color: #7052f8;
}

.down-hero .bg-icon{
  background-color: #ffeeda;
height: 50px;
width: 50px;
}

.down-hero .bg-icon i{
    color: #d3a472;
}

.card-footer img{
    width: 40px;
}

.section-card{
    background-color: #f5f4f8;
}

.card{
    width: 18rem;
}